{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Новый пароль{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card border-dark border-2 bg-white">
            <div class="card-body">
                <h2 class="card-title text-center mb-4 text-dark fw-bold">Новый пароль</h2>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% bootstrap_button button_type="submit" content="Установить пароль" button_class="btn-dark w-100" %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}