{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Письмо отправлено{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card border-dark border-2 bg-white">
            <div class="card-body text-center">
                <h2 class="card-title mb-4 text-dark fw-bold">Проверьте почту</h2>
                <p class="text-secondary">Инструкция по восстановлению отправлена на ваш email</p>
                <a href="{% url 'login' %}" class="btn btn-dark w-100">Вернуться ко входу</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}