{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card border-dark border-2 bg-white">
            <div class="card-body">
                <h2 class="card-title text-center mb-4 fw-bold text-dark">Регистрация</h2>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% bootstrap_button button_type="submit" content="Зарегистрироваться" button_class="btn-dark w-100 fw-bold" %}
                </form>
                <p class="mt-3 text-center text-secondary">
                    Уже есть аккаунт? <a href="{% url 'login' %}" class="text-dark fw-bold text-decoration-none">Войти</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}