<a href="{% url 'times' service.id %}" class="text-decoration-none text-dark">
    <div class="col">
        <div class="card h-100 border-dark border-2">
            <div class="card-body">
                <h5 class="card-title fw-bold">{{ service.name }}</h5>
                <p class="card-text text-secondary">{{ service.description|truncatechars:100 }}</p>
                
                <ul class="list-unstyled">
                    <li class="mb-1">
                        <span class="fw-bold">💰 Цена:</span> 
                        {{ service.price }} руб.
                    </li>
                    <li class="mb-1">
                        <span class="fw-bold">⏱ Время мойки:</span> 
                        {% with hours=service.average_time.hour minutes=service.average_time.minute %}
                            {% if hours > 0 and minutes > 0 %}
                                {{ hours }} ч {{ minutes }} мин
                            {% elif hours > 0 %}
                                {{ hours }} ч
                            {% else %}
                                {{ minutes }} мин
                            {% endif %}
                        {% endwith %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</a>